@font-face {
    font-family: "noto-sans";
    src: url("fonts/static/NotoSans_Condensed-Regular");
}

body{
    font-family: "noto-sans";
}

.overlay {
    width: 100%;
    z-index: 0;
    background-color: gray;
    height: 100vh;
    min-height: 300px;
}

.hero-section {
    background-image: url('../assets/images/herobackground.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    min-height: 300px;
}

.sections section:hover {
    cursor: pointer;
}

.sections section.active:hover {
    cursor: unset;
}

.sections section.active .section-content {
    position: relative;
    top: 0;
    left: 0;
}

.sections section.active .section-content .logo-container,
.sections .content {
    display: none;
}

.sections section.active .content {
    display: unset;
    width: 100%;
    max-width: 900px;
}

.btn,
input,
textarea,
.match-container,
.event-card {
    transform: skew(3deg);
}

div.navbar-collapse.show {
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(10px);
}